<h2>Blog Section</h2>

<!-- Card to hold the blog details -->
<div class="card-container">
    {% for blog in site.data.posts %}
        
        {% if blog.page-name %}
        <a href="/posts/{{ blog.page-name }}">
        {% else %}
        <a>
        {% endif %}
            <div class="card blog-card">
                <img class="card-img-top blog-img" src="{{ blog.background }}" alt="Card image cap">
                <div class="card-body blog-card-body">
                    <h2>{{ blog.title }}</h2>
                    <h2>{{ blog.author }}</h2>
                    <p class="card-text blog-card-text">{{ blog.short-description }}</p>
                </div>
            </div>
        </a>
    {% endfor %}
</div>