<footer class="footer-all p-2 pt-4">
    <ul class="list-inline mx-auto text-center">
        <li class="list-inline-item"><a href="/">Blog</a></li>
        <li class="list-inline-item"><a href="/">About</a></li>
        <li class="list-inline-item"><a href="/">Socials</a></li>
        <li class="list-inline-item"><a href="/">Projects</a></li>
        <li class="list-inline-item"><a href="https://github.com/MLH-Fellowship/pod-22.P3.2-portfolio">Git Repository</a>
        </li>
    </ul>
    <p class="mx-auto text-center">MLH Prep April 2022</p>
</footer>