<footer class="footer-all p-2 pt-4">
    <ul class="list-inline mx-auto text-center">
        <li class="list-inline-item"><a href="#blog-nav">Blog</a></li>
        <li class="list-inline-item"><a href="#meet-the-pod-nav">About</a></li>
        <li class="list-inline-item"><a href="#meet-the-pod-nav">Socials</a></li>
        <li class="list-inline-item"><a href="#projects">Projects</a></li>
        <li class="list-inline-item"><a href="https://github.com/MLH-Fellowship/pod-22.P3.2-portfolio">Git Repository</a>
        </li>
    </ul>
    <p class="mx-auto text-center">MLH Prep April 2022</p>
    
    <div>
        <button onclick="topFunction()" id="btnTop" title="Go to top">&uarr; Top</button>
    </div>
</footer>

<script>

    var btn = $('#btnTop');

    $(window).scroll(function() {
        if ($(window).scrollTop() > 300) {
            btn.addClass('show');
        } else {
            btn.removeClass('show');
        }
    });

    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }


</script>