<header class="nav-bar">
    <div class="nav-content">
        <a class="nav-link" href="{{ '/' | relative_url }}">
            <div class="nav-logo">
                <img src="./assets/img/mlh-prep.png" />
            </div>
        </a>
        {% for section in site.data.sections %}
            <a class="nav-link" href="#{{ section.id }}">
                <div class="nav-item">
                    <h2>{{ section.name }}</h2>
                </div>
            </a>
        {% endfor %}
    </div>
</header>