<header class="nav-bar">
    <div class="nav-content">
        <a class="nav-link" href="{{ '/' | relative_url }}">
            <div class="nav-logo">
                <img src="./assets/img/mlh-prep.png" />
            </div>
        </a>
        <a class="nav-link" href="#meet-the-pod">
            <div class="nav-item">
                <h2>Meet the Pod</h2>
            </div>
        </a>
        <a class="nav-link" href="#projects">
            <div class="nav-item">
                <h2>Projects</h2>
            </div>
        </a>
    </div>
</header>