@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import 'navbar';
@import 'profile';
@import 'page';
@import 'footer';

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: "Open Sans", sans-serif;
}

.card-container a {
  text-decoration: none;
}

@media only screen and (max-width: 1500px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

body {
  background-color: #f5f5f9;
  margin-bottom: 50px;
}
h2 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 30px;
  background-color: white;
  border-radius: 0.375rem;
  padding: 1.25em;
  font-size: 1.2em;
}

.project-card {
  display: flex;
  flex-direction: row;
  height: 250px;
  width: auto;
  align-items: 20px;
  margin: 20px 30px;
  background-color: white;
  border-radius: 0.375rem;
  padding: 1.5em;
  font-size: 1.2em;
}

a {
  color: black;
}

.main-content {
  min-height: 100vh;
}


.info {
  p {
    margin-top: 5px;
    margin: 0px;
    text-align: left;
  }

  .title {
    font-size: 500;
    font-weight: bold;
  }

  .location,
  .description {
    font-size: medium;
    font-weight: 400;
  }

  .dates {
    font-size: small;
    color: #404040;
  }
}

.icon {
  width: 60px;
  height: 60px;
  margin-left: 7.5px;
  margin-right: 7.5px;
  padding: 10px;

  img {
    width: 100%;
  }
}

.socials-bar {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}

.backbutton {
  color: white!important; 
  border-radius: 8px; 
  padding: 8px 12px 8px 12px; 
  background-color: #133667 ;
}

.backbutton:hover {
  color: white!important; 
  border-radius: 8px; 
  padding: 8px 12px 8px 12px; 
  background-color: #0f90fe ; 
  text-decoration: none;
}

html {
    scroll-behavior: smooth;
  }


// Adding code for scrollbar fix 
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 7.5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #133667;
}

::-webkit-scrollbar-thumb:hover {
  background: #8e7f7f;
}
