.profile {
    background-color: #133667 !important;
    text-align: center;
    height: 320px;
    margin-bottom: 50px;
    h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
        padding-top: 100px;
    }
}

/*
Specfic class for the background image in header.
*/
.background-image {
    background-image: url('../img/bg-img.jpg') !important;
    opacity: 0.7;
}
