.profile {
  text-align: center;
  height: 320px;
  margin-bottom: 50px;
  padding-top: 80px;
  background-image: url("../img/bg-img.jpg") !important;
  background-position: center;
  background-size: cover;
  opacity: 0.7;

  h1 {
    font-size: 50px;
    font-weight: 700;
    color: white;
    padding-top: 100px;
  }
}

/*
Specfic class for the background image in header.
*/
backgroundImage1 {
  background-image: url("../img/bg-img2.jpg") !important;
}
