---
layout: default
---

<div class="banner">
    <div class="container flex-row">
        <div>
            <div class="logo">
                <a href="/">
                    <img src="/assets/img/logo.svg"/>
                </a>
            </div>
            <div class="title">
                {{ page.title }}
            </div>
        </div>

        <div class="switch-div" style="margin-left: auto">
            <div class="theme-switch">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun fa-lg"></i>
                <div class="switch"></div>
            </div>
        </div>

        <script>
            $(".theme-switch").on("click", () => {
                $("body").toggleClass("light-theme");
                $(".profile").toggleClass("backgroundImage1");
            });
        </script>
    </div>
</div>

<div class="container page">
    {{ content }}
</div>